{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    {% if app.user %}

    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
    <h1>Quack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
                <th>author</th>
                <th>tags</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr>
                <td>{{ quack.id }}</td>
                <td>{{ quack.content }}</td>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if quack.duck.username is same as (app.user.username) %}
                        <form method="post" action="{{ path('quack_delete', {'id': quack.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quack.id) }}">
                            <button class="btn">Delete</button>
                        </form>
                    {% endif %}
                </td>
                <td>{{ quack.duck.username }}</td>
                <td>
                    {% for tag in quack.tags  %}
                        {{ tag }}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quack_new') }}">Create new</a>
{% endblock %}
